

html {
  font-family: Helvetica;
}


h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("photos/pattern.jpg");
}

h2.brushes {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

h2.frames {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

h2.paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.prices {
  color: blue;
  font-weight: bold;
}
